@media screen and(max-width:1400px){
    #home{
        height:83vh;
    }

    .container,.reviews-container,.recommendations-container,.about-container,.about-section{
        flex-wrap: wrap;
    }

    #contact{
        height:fit-content;
    }
}

@media screen and (max-width:1200px){
  #home,.about-section{
    display: block;
  }

  section,.about-section{
    height:fit-content;
  }  

  section{
    margin:0 5%;
  }

  #about{
    margin-bottom:50rem;
  }

  
}

@media screen and (max-width:600px){
#contact, footer{
    height:40vh;
}

#home,.about-section{
    height:83vh;
    margin-bottom:100px;
    display: block;
}

p{
    font-size: small;
}

footer div{
height:fit-content;
margin-bottom:2rem;
}

.container,.reviews-container,.recommendations-container,.about-container,.about-section{
    flex-wrap: wrap;
}

.nav-links li a {
    font-size: 1rem;
}

.nav-links{
    gap:0.5rem;
    text-align:center;
}

.about-pic{
    width:auto;
    height:46vh;
    justify-content:center;

}

.container,.about-container{
    text-align:center;
}

#about{
    margin-top:100rem;
    margin-bottom: 50rem;
}

.about-section{
    padding:1rem;
}

}

@media screen and (max-width:375px){
    #contact, footer{
        height:40vh;
    }
    
    #home,.about-section{
        height:83vh;
        margin-bottom:100px;
        display: block;
    }
    
    p{
        font-size: smaller;
    }
    
    
    .container,.reviews-container,.recommendations-container,.about-container,.about-section{
        flex-wrap: wrap;
    }
    
    .nav-links li a {
        font-size: 0.5rem;
    }

    .footer-nav a {
        font-size: 0.5rem;
    }
    
    .nav-links,.contact-footer{
        gap:0.5rem;
        text-align:center;
    }
    
    .about-pic{
        width:auto;
        height:46vh;
        justify-content:center;
    
    }
    
    .container,.about-container{
        text-align:center;
    }
    
    #about{
        margin-top:100rem;
        margin-bottom: 50rem;
    }
    
    .about-section{
        padding:5rem;
        width: fit-content;
    }

    body{
        width:100%
    }

    nav,footer{
        width: fit-content;
    }
    
    }

    
